<% content_for(:title, "All Stations | Bus Timetable") %>

<h1> Stations </h1>
<hr>
<ul>
<% @stations.each do |station| %>
  <li><a href="/stations/<%= station.id %>"><%= station.name %></a></li>
<% end %>
</ul>

<%=link_to "New Station", new_station_path, :class => "tiny round button" %>
<%=link_to "New Line", new_line_path, :class => "tiny round success button" %>
<%=link_to "New Stop", new_stop_path, :class => "tiny round alert button" %>
